<div class="card" style="width: 30rem;">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title">MEDECIN</h5>
    <p class="card-text">Informations sur le médecin</p>
  </div>
</div>


<mat-list>
    <!-- <mat-list-item>Nom :</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> , {{ medecin.name[0].given[1] }}</mat-list-item> -->
    <mat-divider></mat-divider>
    <mat-list-item>Qualification : {{ medecin.resourceType }} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Adresse : {{ medecin.address[0].text }}, {{ medecin.address[0].postalCode }} {{ medecin.address[0].city }}</mat-list-item>
  </mat-list>
  