<div class="card" style="width: 30rem;">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title">PATIENT</h5>
    <p class="card-text">Informations sur le patient</p>
  </div>

</div>


<mat-list>
    <!-- <mat-list-item>Nom : {{ patient.name[0].family | uppercase }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Prénom : {{ patient.name[0].given }}</mat-list-item> -->
    <mat-divider></mat-divider>
    <mat-list-item>Date de naissance : {{ patient.birthDate | date:'dd MMMM yyyy' }} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Téléphone : {{ patient.telecom[0].value }} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Adresse : {{ patient.address[0].text }}, {{ patient.address[0].postalCode }} {{ patient.address[0].city }}</mat-list-item>
  </mat-list>
  